#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.intro-title {
  text-align: left;
  color: #03045e;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.profession {
  text-align: left;
  color: #03045e;
  font-size: 100px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  word-wrap: break-word;
}
.buttonWrapper {
  text-align: left;
}
.resume-button {
  background-color: #f5ee84;
  color: #03045e;
}
.about-title {
  color: #474306;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  word-wrap: break-word;
}
.about-body {
  color: #03045e;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
}
.skill-title {
  color: #03045e;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  word-wrap: break-word;
  padding: 0 90px;
}

.skills {
  display: flex;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
