/* @import "/node_modules/@fortawesome/fontawesome-free/css/all.min.css"; */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.intro-title {
  text-align: left;
  color: #03045e;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}
.profession {
  text-align: left;
  color: #03045e;
  font-size: 100px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  word-wrap: break-word;
}
.buttonWrapper {
  text-align: left;
}
.resume-button {
  background-color: #f5ee84;
  color: #03045e;
}
.resume-button:hover {
  background-color: #b1ac5f;
  border: 1px solid #f5ee84;
  color: white;
}

.about-title {
  color: #474306;
  font-size: 50px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  word-wrap: break-word;
}

.ping-title {
  color: #03045e;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 600;
  /* line-height: 116px; */
  word-wrap: break-word;
}

.about-body {
  color: #03045e;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
}
.skill-title {
  color: #03045e;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 800;
  line-height: 116px;
  white-space: nowrap;
  padding: 0 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  position: sticky;
  top: 0;
}
a:hover {
  cursor: pointer;
}
.header-links a {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-background {
  background-color: #f9f4a7;
  box-shadow: 0 -6px 10px 5px rgba(5, 5, 5, 0.5);
}
.header-title {
  color: var(--Dark-Blue, #03045e);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 0.1;
}

.skills {
  display: flex;
}
.contact-body {
  display: flex;
  justify-content: space-between;
}

.contact-social {
  margin-left: 50px;
}
#contact-form input {
  width: 500px;
}
#contact-form {
  margin-top: -15px;
}
/* #stylized input {
  display: block;
  font-size: 11px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 100px;
  margin: 2px 0 20px 10px;
  border-radius: 10px;
}
#contact
#stylized textarea {
  display: block;
  font-size: 11px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 100px;
  margin: 2px 0 20px 10px;
} */
.text-field {
  padding: 10;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
